.ui-drawer {
  width: 100%;
  height: 100%;
  position: absolute;
}

.ui-drawer--drag-target {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;

  &.ui-drawer--visible {
    width: 21%;
    right: 0;
  }
}

.ui-drawer__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 80%;
  height: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  box-sizing: border-box;
  border-right: 1px solid #e0e0e0;
  background: #fafafa;
  transform: translateX(-100%);
  transform-style: preserve-3d;
  will-change: transform;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: transform;
  color: #424242;
  overflow: visible;
  overflow-y: auto;
  z-index: 5;
}

.ui-drawer__overlay {
  background-color: rgba(0,0,0,.5);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  transition-property: opacity;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.ui-drawer--visible {
  z-index: 5;

  .ui-drawer__content {
    transform: translateX(0);
  }

  .ui-drawer__overlay {
    pointer-events: auto;
    opacity: 1;
  }
}

.ui-drawer--dragged {
  z-index: 5;

  .ui-drawer__content {
    transition: none;
  }

  .ui-drawer__overlay {
    pointer-events: auto;
    transition: none;
  }
}

@media screen and (min-width: 1000px) {
  .ui-drawer {
    width: 240px;
  }

  .ui-drawer + * {
    margin-left: 240px;
  }

  .ui-drawer__content {
    width: 240px;
    transform: translateX(0);
  }

  .ui-drawer--handle {
    display: none!important;
  }
}
