html.ui-fit {
  height: 100%;
  padding: 0;
  margin: 0;

  body {
    height: 100%;
    padding: 0;
    margin: 0;
  }
}

.ui-layout {
  height: 100%;
  weight: 100%;

  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;

  &.ui-layout--v {
    -webkit-box-orient: vertical;
    box-orient: vertical;

    -webkit-flex-direction: column;
    flex-direction: column;
  }

  &.ui-layout--h {
    -webkit-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-flex-direction: row;
    flex-direction: row;
  }

  &.ui-layout--wrap {
    flex-wrap: wrap;
  }

}

.ui-flex {
  -webkit-box-flex: 1;
  box-flex: 1;

  -webkit-flex: 1;
  flex: 1;
}

.ui-spacer {
  flex-grow: 1;
}

.ui-padding {
  padding: 16px;
}

.ui-vpadding {
  padding: 16px 0;
}

.ui-hpadding {
  padding: 0 16px;
}

.ui-scroll {
  overflow: auto;
}

.ui-vscroll {
  overflow-x: hidden;
  overflow-y: auto;
}

.ui-hscroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.ui-panel {
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 0;
  background-color: #FFF;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);

  legend {
    padding: 0 4px;
    background-color: #3f51b5;
    color: #fff;
  }
}

@media screen and (min-width: 1000px) {
  .ui-main {
    padding-left: 240px;
  }
}
