html.ui-fit {
  height: 100%;
  padding: 0;
  margin: 0;

  body {
    height: 100%;
    padding: 0;
    margin: 0;
  }
}

.ui-layout {
  height: 100%;
  // width: 100%;

  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;

  &.ui-layout--v {
    -webkit-box-orient: vertical;
    box-orient: vertical;

    -webkit-flex-direction: column;
    flex-direction: column;
  }

  &.ui-layout--h {
    -webkit-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-flex-direction: row;
    flex-direction: row;
  }

  &.ui-layout--wrap {
    justify-content: center;
    flex-wrap: wrap;
  }

}

.ui-flex {
  -webkit-box-flex: 1;
  box-flex: 1;

  -webkit-flex: 1;
  flex: 1;
}

.ui-spacer {
  flex-grow: 1;
}

// @media screen and (min-width: 1000px) {
//   .ui-main {
//     padding-left: 240px;
//   }
// }
