.ui-list {
  display: block;
  padding: 8px 0;
  list-style: none;

  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;

  .ui-list__header,
  .ui-list__item {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .04em;
    line-height: 1;
    min-height: 48px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 16px;
    cursor: default;
    color: rgba(0,0,0,.87);
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    text-decoration: none;
  }

  .ui-list__header {
    padding: 24px 16px 8px;
    font-size: 13px;
  }

  .ui-list__separator {
    box-sizing: border-box;
    display: block;
    min-height: 16px;
    background-color: rgba(0, 0, 0, 0.14);
  }
}
