.ui-panel {
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 0;
  background-color: #FFF;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);

  legend {
    padding: 0 4px;
    background-color: #3f51b5;
    color: #fff;
  }
}
